.cat-clicker {
	font-family: 'Amatic SC', cursive;
	margin: auto;
	width: 80%;
	max-width: 675px;
	min-width: 300px;
}

.headings {
	display: flex;
	align-items: center;
	justify-content: center;
}

#cats-display {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.cat {
	margin: 20px;
}

.cat-details {
	display: flex;
	align-items: center;
	list-style-type: none;
	margin: 5px;
	padding: 0;
}

li {
	width: 50%;
	text-align: center;
	font-size: 1.4em;
}

img {
	width: 100%;
}